<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="AutomaticquesSystemConnectionString" connectionString="Data Source=EGC-PC\\SQLEXPRESS;Initial Catalog=AutomaticquesSystem;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="AutomaticquesSystemConnectionString2" connectionString="Data Source=LAPTOP-45N19I9B\SQLEXPRESS;Initial Catalog=AutomaticquesSystem;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="AutomaticquesSystemConnectionString3" connectionString="Data Source=EGC-PC\SQLEXPRESS;Initial Catalog=AutomaticquesSystem;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
